# Ignore developers configuration
conf/*
!conf/.gitkeep

# Ignore patients data
test/assets/patients/*
!test/assets/patients/.gitkeep

# Ignore tmp data
tmp/*
!tmp/.gitkeep

# Ignore debug scripts but keep the dir
debug-scripts/*
!debug-scripts/.gitkeep

# Ignore the developer logs dir
logs/*

# Ignore Documenter.jl build dir
docs/build/

# Ignore coverage files
*.cov

# Ignore configuration files
conf/*
!conf/.gitkeep
!conf/tpl.conf